@import "../partials/fonts";
@import "../partials/mixins";

.nav {
  height: 5rem;
  background-color: rgb(130, 190, 194);
  width: 100%z;

  &__image {
    display: none;
    margin: 0;
    padding: 0;

    @include desktop {
      display: flex;
      background-image: url(".././assets/heropup.jpg");
      background-position: center;
      background-size: cover;
      height: 3rem;
      width: 3rem;
      position: relative;
      // bottom: 1rem;
      // right: 3rem;
      border-radius: 20px;
      margin-right: auto;
      margin-left: 1rem;
    }
  }

  &__container {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: auto;
    padding: 0;
    position: relative;
    top: 2rem;

    font-size: 0.9rem;
    font-weight: 400;

    @include tablet {
      
    }

    @include desktop {
      justify-content: space-between;
      position: relative;
      top: 1rem;
      
      
    }
  }

  &__container-two {
    display: flex;
    margin: auto;
    

    @include desktop {
      justify-content: flex-end;
      position: relative;
      margin: 1rem 1rem 1rem 0;
      
    }

  }

  &__button {
    border: 2px solid grey;
    border-radius: 5px;
    padding: 0.25rem;
    margin: .25rem;

    @include tablet {
      padding: 0.5rem 1rem;
      margin: 1.65rem;
    }

    @include desktop {
      margin-right: .25rem;
    }
  }
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bolder;
}
